.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.couple::after,
.couple::before {
    content: "";
    display: block;
}

.couple::after {
    clear: both;
}

.couple .left {
    margin-right: 15px;
    padding: 25px;
    width: 60%;
    float: left;
    background: #2a2a2a;
    color: #fff;
    text-align: center;
    min-height: 95px;
}

.couple .right {
    padding: 25px;
    width: 25%;
    float: left;
    background: #2a2a2a;
    color: #fff;
    text-align: center;
}