.wasMD {
    /*position: relative;*/
    /*max-width: 95%;*/
    /*min-width: 95%;*/
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    /*padding: 0px;*/
    /*padding: 10px 0px 0px 10px;*/
    line-height: 25px;
}

.indica-comment-content-entry {
    overflow: hidden;
    background: rgba(148, 218, 246, 0.05);
    margin: 10px;
    padding-left: 15px;
    box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-size: 10pt;
    line-height: 10pt;
}

.comment-content * {
    white-space: pre-wrap;
    margin-bottom: 0;
}

#indica-comments-tree > .replies-of-node {
    max-height: 600px !important;
    min-height: 600px !important;
    height: 600px !important;
    overflow-y: auto;
    border-radius: 5px;
}

#indica-comments-tree {
    overflow-x: auto;
    max-height: 100%;
    padding: 10px;
    display: block;
}

#indica-comments-tree .replies-of-node li {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    max-width: 96%;
    position: relative;
    margin-bottom: 0px !important;
}


.more-replies-indicator:hover {
    background: rgba(255, 198, 19, 0.43);
    height: 20px;
    width: 20px;
    bottom: 10px;

}
.more-replies-indicator {
    background: red;
    height: 10px;
    width: 10px;
    position: relative;
    display: inline-flex;

    float: right;
    border-radius: 100px;
    margin: -15px;
    bottom: 0px;
}
/*.more-replies-indicator {

    display: inline-flex;
    position: relative;
    background: white;
    padding: 0px 15px 10px 5px;
    border-radius: 168px;
    box-shadow: 0px 0px 7px -4px black;
    height: 25px;
    float: right;
    top: -20px;
}*/

.entry.unvoted {
    /* to fit content when panel is open*/
    width: 70%;
    display: inline;
}
