*:focus {
    outline: none;
}

#indica-side-bar-menu {
    position: absolute !important;
    display: block !important;
    margin: 50px;
    /*! background: red !important; */
    /*! left: 966px !important; */
}

#indica {
    display: block;
    position: fixed;

    background: white;
    opacity: 1;
    z-index: 11000;
    border-radius: 5px;

    width: 700px;
    height: 100%;
    top: 0 !important;
    right: 0;

    margin: 0 !important;
    overflow: hidden !important;
    padding-left: 25px !important;

    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.35);
}

/*#indica:hover {
    -webkit-animation:linear toggle-sidebar 2s 1;
}*/

@-webkit-keyframes toggle-sidebar {
    0% {
        right: 0;
    }
    50% {
        right: -700px;
    }

}