#root-meta-data-container {
    top: 20px;
    display: inline-block;
    position: relative;
}

.root-metrics .midcol.likes {
    position: absolute;
    display: inline-block;
    right: 0;
}

div#root-thing-container li .thing-entry-key {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div#root-thing-container li .thing-entry-value {
    font-family: "Andale Mono", serif;
    font-style: italic;
}

.thing-data-group-entry {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

span.thing-entry-key {
    font-style: italic;
    margin-right: 3px;
    text-decoration: blink;
}

span.thing-entry-key::after {
    content: ":";
}

.thing-meta-data {
    height: 10px;
    float: right;
    position: relative;


    display: flex;
    padding: 0px;
    margin: 0px;
    top: 5px;

}

.metrics {
    width: 20px;
    height: 0px;
    position: absolute;
    left: 10px;
    top: 50%;
    display: inline-block;
}

.thing-author:before {
    content: "by /u/";
}

.indica-thing-date, .thing-author {
    color: #a7a7a7;
    font-size: 8pt;
    display: inline-flex;
    position: relative;
    right: 10px;
    float: right;
}

/*

.gilded-entry-value:before {
    content: "gilded: ";
}

.ups-entry-value:before {
    content: "ups: ";
}

.score-entry-value:before {
    content: "score: ";
}

.downs-entry-value:before {
    content: "downs: ";
}

.scoreHidden-entry-value:before {
    content: "scoreHidden: ";
}

.controversiality-entry-value:before {
    content: "controversiality: ";
}*/
