
div#root-thing-container li {
    display: inline;
    position: relative;
    margin-left: 5px;
    margin-bottom: 2px;
}

.root-subreddit:before {
    content: 'Submitted to /r/';
    margin-left: 2px;
}

.thing-author:before {
    content: 'By /u/';
    margin-left: 2px;
}

div#indica-root-header {
    top: -20px;
    position: relative;
}

.root-thing-header.row {
    padding: 5px;
}

div#indica-root-content {
    display: -webkit-box;
    background: white;
    font-family: tahoma, arial, helvetica, serif;
    font-size: 10pt;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#root-title-link {
    width: 500px;
    display: flex;
}

#root-content-preview-fullsize {
    display: none;
}

#root-media {
    position: relative;
    display: inline-block;
}

