#indica-side-bar-menu {
    background: transparent;
    display: inline;
    float: right;
    position: absolute;
    height: 100%;
    z-index: 15;
    left: 0px;
    margin: auto;
}

#indica-side-bar-menu button {

    display: list-item;
    margin: 2px 10px 2px 2px;
    position: relative;
    z-index: 100;
    list-style: none;
    min-width: 35px;
    max-width: 35px;
}
