#root-original-image-container {
    position: fixed;
    width: 100%;
    max-width: 80%;
    height: 50%;
    display: none;
    border: 1px dotted #ffab22;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 100;
}

.root-thing-original-image {
    /*width: 100%;*/
    /*display: inline-block;*/
    transition: height 1s ease;
    overflow-y: hidden;
}

.thing-original-size-image {
    position: absolute;
    display: inline;
    z-index: 2;
}

.thing-tn {
    background-repeat: no-repeat;
    border-radius: 10px;
}

.root-thumbnail-link {
    display: inline-block;
    position: relative;
}

img#root-thing-tn {
    border-radius: 5px;
}

div#root-tn-container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 10px;
    top: 0px;
    z-index: 10;
}