<div id="indica" class="container">
    <div id="" class="indica-tree-root container">
        <div class="row">
            <div id="root-tn-container" class="col-md-2" style="">
                <a id="root-thumbnail-link" class="root-thumbnail-link" href>
                    <img id="root-thing-tn" class="thing-tn" src>
                </a>
            </div>
            <div class="row">
                <div class="col-md-4" id="root-meta-data-container">
                    <span>Submitted to<a id="root-subreddit" class="subreddit hover" href></a></span>
                    <span>by<a id="root-author" class="author may-blank" href></a></span>
                    <span><time id="root-created" class="timeago" datetime title></time></span>
                </div>

                <div class="col-md-8" id="indica-root-title-container">
                    <a id="root-title-link" href><h1 class="display-3" id="modal-title"></h1></a>
                </div>
                <div class="row">
                    <div id="root-metrics" class="metric col-md-8">
                        <div class="midcol likes">
                            <div class="arrow login-required access-required upmod" data-event-action="upvote" role="button"
                                 aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes" title="2364">2364</div>
                            <div class="score unvoted" title="2365">2365</div>
                            <div class="score likes" title="2366">2366</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button"
                                 aria-label="downvote" tabindex="0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="indica-root-content" class="col-md-10" style="display: none;"></div>
        </div>

        <div id="indica-comments-tree-container" class="row" style="display: block;">
            <div id="indica-comments-tree" class="col-md-12"></div>
        </div>
    </div>

    <div id="indica-side-bar-menu">
        <button type="button" id="root-toggle-content" class="btn btn-default">+</button>
        <button type="button" id="root-toggle-comments" class="btn btn-default">+</button>
    </div>
</div>