<ul class="experiences">

  <!-- Experience -->
  <li class="green">
    <div class="where">New York Times</div>
    <h3 class="what green">Senior Online Editor</h3>
    <div class="when">2012 - Present</div>
    <p class="description">Jelly-o pie chocolate cake...</p>
  </li>
  <li class="green">
    <div class="where">New York Times</div>
    <h3 class="what green">Senior Online Editor</h3>
    <div class="when">2012 - Present</div>

    <p class="description">Jelly-o pie chocolate cake...</p>
  </li>
  <li class="green">
    <div class="where">New York Times</div>
    <h3 class="what green">Senior Online Editor</h3>
    <div class="when">2012 - Present</div>

    <p class="description">Jelly-o pie chocolate cake...</p>
    <ul class="experiences">

      <!-- Experience -->
      <li class="green">
        <div class="where">New York Times</div>
        <h3 class="what green">Senior Online Editor</h3>
        <div class="when">2012 - Present</div>
        <p class="description">Jelly-o pie chocolate cake...</p>
      </li>
      <li class="green">
        <div class="where">New York Times</div>
        <h3 class="what green">Senior Online Editor</h3>
        <div class="when">2012 - Present</div>

        <p class="description">Jelly-o pie chocolate cake...</p>
      </li>
      <li class="green">
        <div class="where">New York Times</div>
        <h3 class="what green">Senior Online Editor</h3>
        <div class="when">2012 - Present</div>

        <p class="description">Jelly-o pie chocolate cake...</p>
      </li>
    </ul>

  </li>
</ul>
